@import 'variable.scss';
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 14px;
    background-color: white;
}
.myGifsSection{
    border: none;
    display: none;
    .titleSection{
        margin-top: 5px;
        text-align: center;
        .titlemyGifs{
            margin-top: 7px;
            font-family: $MonsBold;
            color: $purpleMain;
            font-size: 20px;
            line-height: 30px;
        }
    }
    .verMasBtnmyGifs{
        text-align: center;
        margin: auto;
    }
}
.sinGifs{
    display: flex;
    flex-direction: column;
    padding-bottom: 34px;
    img{
        margin: 60px auto auto;
    }
    .textSinGifs{
        margin: auto;
        margin-top: 20px;
        width: 250px;
        font-family: $MonsBold;
        font-size: 18px;
        line-height: 20px;
        font-weight: 700;
        text-align: center;
        letter-spacing: 0;
        color: $blueActive;
    }
}
.gridMyGifs{
    display: none;
    // display: flex;
    flex-wrap: wrap;
    margin-left: 21px;
    justify-content: center;
    .myImage{
        width: 156px;
        height: 120px;
        background-color: $blackTextColor;
        margin: 21px 21px 0px 0px;
    }
}
@media (min-width:768px){
    .myGifsSection{
        .titleSection{
            .titlemyGifs{
                margin: 11px 0px 0px 0px;
                font-family: $MonsBold;
                font-size: 25px;
                line-height: 30px;

            }
        }
        .gridMyGifs{
            // margin-left: 156px;
            justify-content: center;
        .myImage{
            width: 260px;
            height: 200px;
            margin: 29px 29px 0px 0px;
        }
        }
    }
    .sinGifs{
        padding-bottom: 137px;
        img{
            margin: 109.3px auto auto;
        }
        .textSinGifs{
        margin-top: 24px;
        width: 431px;
        font-size: 22px;
        line-height: 33px;
        font-weight: 700;
        text-align: center;
        letter-spacing: 0;
        }
    }
}