.apiSearchResults{
    display: none;
}
.titleSearch{
    font-family: $MonsBold;
    font-size: 35px;
    color: #572EE5;
    text-align: center;
    line-height: 30px;
}
.divider{
    opacity: 0.5;
    border: 1px solid #9CAFC3;
}

.searchBoxAutocomplete{
    display: none;

}