@import 'variable.scss';
@import '_searchSection.scss';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  background-color: white;
}

html {
  line-height: 0;
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
  cursor: pointer;
}


.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 29px 14px 0px 22px;
  height: 44px;
  z-index: 100;
  position: relative;
  .logo {
    display: flex;
    position: relative;
    width: 48px;
    height: 48px;
    .logo-desktop {
      display: none;
    }
  }
  .menu-wrapper {
    display: block;
    padding: 16px 0 16px 0;
    #toggle {
      display: block;
      position: absolute;
      align-items: center;
      opacity: 0;
      width: 20px;
      height: 20px;
      padding: 16px 5.9375% 16px 0;
      z-index: 2;
    }
    #toggle:checked~ul {
      height: 1145px;
      background-color: $purpleMain;
      margin: -14px;
      margin-top: 35px;
    }
  }
  .menu {
    background-color: $purpleMain;
    opacity: 0.9;
    width: 375px;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    height: 0px;
    right: 0;
    list-style: none;
    overflow: hidden;
    align-items: center;
    li {
      height: 60px;
      width: 375px;
      background-color: $purpleMain;
      margin: 16px 0 8px 16px;
      .nav-item {
        background-color: $purpleMain;
        text-decoration: none;
        color: white;
        font-size: 16px;
        display: flex;
        justify-content: center;
        position: relative;
        letter-spacing: 0;
        line-height: 60px;
        font-size: 15px;
      }
      .lineaMenu {
        justify-content: center;
        width: 41px;
        height: 0.1px;
      }
    }
  }
  .checkbox-menu{
    display: none;
    &:checked{
      ~.menu {
        display: flex;
      }
      ~.show-menu{
        .burguer-menu{
          display: none;
        }
        .close-menu{
          display: block;
        }
      }
      }
  }
  .show-menu{
    margin: 47px 27px 34px 0;
    width: 15px;
    height: 15px;
    cursor: pointer;
    .burguer-menu{
        width: 100%;
        height: 100%;
    }
    .close-menu{
        width: 100%;
        height: 100%;
        display: none;
    }
}
}

.tittleHome h3{
  font-family: $MonsBold;
  font-size: 25px;
  font-weight: bold;
  line-height: 33px;
  letter-spacing: 0;
  color: $purpleMain;
  text-align: center;
  margin: 25px 45px 31px;
  .gifosWord {
    padding: 0px;
    font-size: 25px;
    text-align: center;
  }
  }

.purpleRectangle {
display: flex;
position: relative;
width: 100vw;
height: 5px;
background-color: $purpleMain;
}

.lineaMenu {
  width: 41px;
  height: 0.1px;
}

.imageTopSearch {
  display: flex;
  width: 273px;
  height: 130px;
  margin: auto;
  justify-content: center;
}

.searchBar {
  width: 334px;
  height: 50px;
  display: flex;
  justify-content: center;
  margin: auto;
  border: 1px solid $purpleMain;
  border-radius: 27px;
    input{
      outline: none;
      width: 215px;
    }
}
  .iconSearch {
    display: flex;
    position: absolute;
    margin: 14px 16px 15px 292px;
  }
h6 {
  font-family: $MonsBold;
  font-size: 16px;
  margin-top: 31px;
  font-weight: bold;
  line-height: 25px;
  color: $purpleMain;
  text-align: center;
}
.textDownBar {
  width: 225px;
  height: 50px;
  font-family: $MonsBold;
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
  color: $purpleMain;
  text-align: center;
  margin: 2px auto 45px auto;
  }


//Trending
.trendingSection{
  height: 430px;
  background-color: #F3F5F8;
  padding-top: 46px;
  .titleSection h2{
      background-color: #F3F5F8;
      font-family: $MonsBold;
      color: $purpleMain;
      text-align: center;
      font-size: 20px;
      height: 30px;
      width: 100%;
      margin: auto;
      line-height: 30px;
  }
  .paragraph p{
      margin: 7px 0px 32px 0px;
      width: 100%;
      height: 46px;
      line-height: 23px;
      text-align: center;
      background-color: #F3F5F8;
      font-family: $robotoReg;
      font-weight: 400;
      font-size: 16px;
  }
}
//Carrusel Mobile
.containercarousel{
  position: relative;
  margin-left: 22px;
  height: 181px;
  background-color: transparent;
  overflow: scroll;
  &::-webkit-scrollbar {//Desactivamos la visualización del scrollbar
      display: none;
  }
  .boxes-container{
      position: absolute;
      height: 181px;
      overflow-y: hidden;
      white-space: nowrap;
      background-color:  transparent;
      .gifos{
          margin-right: 20px;
          display: inline-block;
          width: 243px;
          height: 187px;
          img{
            width: 100%;
            height: 100%;
          }
          // background-image: url(https://i.pinimg.com/originals/0d/ad/7f/0dad7f80814b3d2c08fdcb9377bc4f5b.gif);
      }
  }
}
.button{
  display: none;
}
.hoverOptions{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  text-align: end;
  width: 244px;
  height: 188px;
  transform: translate(0px, -187px);
  .optionsGif{
      background-color: transparent;
      display: flex;
      justify-content: flex-end;
  }
  .favs img, .max img, .down img{
    border-radius: 6px;
  }
  .favs, .max, .down{
      display: flex;
      cursor: pointer;
      margin: 5px;
      border-radius: 6px;
      .btnHover{
          display: none;
          }
          &:hover{
              .normal{
                  display: none;
              }
              .btnHover{
                  display: inline-block;
              }
          }
      }
}

.gifos:hover .hoverOptions{
  opacity: 0.7;
  background-color: #572EE5;
}

.textGif{
  color: #FFFFFF;
  background: transparent;
  font-family: $robotoReg;
  text-align: left;
  margin: 90px 0px 0px 12px;
  width: 100%;
    p{
        margin: 0;
      }
    .user{
      font-size: 15px;
      background: transparent;
      height: 17px;
      margin-bottom: 5px;
    }
    .titleGif{
        height: 40px;
        width: 100%;
        background: transparent;
        font-weight: bold;
        font-size: 16px;
    }
}

.apiSearchResults{
  display: none;
}

  // footer
  .footer{
    text-align: center;
    height: 196px;
    // width: 100%;
    padding-top: 47px;
    margin: auto;
    display: flex;
    div{
        font-family: $robotoReg;
        font-size: 15px;
        letter-spacing: 0;
    }
    .socialMedia{
        display: flex;
        justify-content: center;
        padding: 24px 0px 47.8px 0px;
        height: 20px;
        .iconNormal{
            margin-right: 19px;
        }
      }
        .footerDescription{
          font-family: $robotoReg;
          font-size: 15px;
          line-height: 20px;
        }
  }

//media querys

@media (min-width: 768px) {
  .navbar{
    .logo{
      height: 60px;
      position: relative;
      margin-left:134px;
      .logo-desktop {
        display: block;
      }
      .logo-mobile{
        display: none;
      }
    }
  }
  .imageTopSearch {
    display: flex;
    width: 399px;
    height: 190px;
    justify-content: center;
    margin-top: 24px;
  }
  .iconSearch {
    margin: 14px 16px 15px 511px;
  }
  .searchBar {
    width: 551px;
    margin: auto;
      input{
        width: 450px;
      }
  }
  .tittleHome h3{
    font-size: 35px;
    font-weight: bold;
    width: 600px;
    margin: 76px auto 0px auto;
    line-height: 50px;
    .gifosWord {
      font-size: 35px;
      line-height: 50px;
    }
  }
  .textDownBar {
    width: 402px;
    font-size: 16px;
    margin: 7px auto 95px auto;
    height: 25px;
  }
  .containercarousel{
    overflow: hidden;
    display: flex;
  }
  .trendingSection{
    height: 640px;
    padding-top: 68px;
    .titleSection h2{
        font-size: 25px;
    }
    .paragraph p{
        margin: 12px 0px 11.5px 0px;
        font-size: 18px;
        br {
          display: none;
        }
    }
  }
  .button{
    display: inline-block;
  }
  .button-right{
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    transform: translate(-96px, -186px);
    }
    .button-left {
      height: 0;
      z-index: 1;
      position: absolute;
      background-color: transparent;
      padding: 172px 94px;
    }
      .containercarousel{
        margin: 0px 156px;
        height: 358px;
        align-items: center;
        .boxes-container{
                width: 357px;
                height: 275px;
                transform: translate(-18px);
                overflow-y: visible;
            .gifos{
                width: 357px;
                height: 275px;
                margin: 0px 14.5px 0px 14.5px;
                transition: 0.5s;
            }
        }
      }
      .hoverOptions{
        width: 100%;
        height: 100%;
        transform: translate(0px, -276px);
        .textGif{
          margin: 163px 0px 0px 12px;
          p{
              margin: 0;
          }
      }
  }
  //footer
  .footer{
    display: flex;
    flex-direction: row;
    height: 116px;
    justify-content: space-between;
    p{
      font-size: 13px;
    }
    .socialMedia{
      padding: 0;
      transform: translateY(-10px);
    }
    .footerDescription1{
      display: flex;
      gap: 17px;
      margin-left: 156px;
    }
    .footerDescription2{
      justify-content: space-around;
      margin-right: 158px;
    }
  }
  }

